# Git
.git
.gitignore

# Node
node_modules
frontend/node_modules

# Laravel
backend/vendor
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views

# Env
.env
backend/.env

# Build files
frontend/build
frontend/dist

# OS
.DS_Store
Thumbs.db